/.metadata/
/.recommenders/
/.settings/
/BookStore WebService/WebContent/
/BookStore WebService/.classpath
/BookStore WebService/.BookStore WebService.iml
/BookStore WebService/.project
/BookStore WebService/build/


