/*Adjust text-align to left*/
.container .form-group {
  text-align: left;
}

/*Adjust textarea width*/
.container .form-control>textarea {
  width: 100%;
}

/*for book image*/
#book-img-wrapper {
  text-align: center;
}

.container .form-control>img {
  width: 20%;
  height: 20%;
  margin-right: 8%;
}

/*for rating*/
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  width: 60%;
  left: 5%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover ~ label:nth-child(n) .icon{
  content: url('../images/svg/rating-hover.svg');
}

.rating:hover label:hover .icon{
  content: url('../images/svg/rating-hover.svg');
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  text-shadow: 0 0 5px #09f;
}
